body {
    font-family: 'Jua', sans-serif;
}

h2{
    color: green;
    font-weight: 100;
}

a { 
    text-align: center;
     text-decoration: none; /* 링크의 밑줄 제거 */ 
     color: inherit; /* 링크의 색상 제거 */ 
    }

a:hover {
    color: rgb(1, 175, 1);
    }

ul {
    list-style:none;
    padding-left:0px;
    display: flex;
    flex-direction: column;
}

li {
    width: 150px;
    margin: 5px;
    padding: 2px;
    border: 2px solid green;
    border-radius: 5px;
}