<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'list.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&family=Jua&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h2>🎨카테고리</h2>
    <!-- <div>{{articles}}</div> -->
    <ul>
        <li>
            <a href="{% url 'category' 'hobby' %}">취미(hobby)({{ len_hobby }})</a>
        </li>
        <li>
            <a href="{% url 'category' 'food' %}">음식(food)({{ len_food }})</a>
        </li>
        <li>
            <a href="{% url 'category' 'programming' %}">프로그래밍(programming)({{ len_programming }})</a>
        </li>
    </ul>
</body>
</html>