<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count</title>
</head>
<body>
    <div class="fisrt">
        <h1>글자를 입력해 보세요!</h1>
        <form action="{% url 'result' %}" method="post">{% csrf_token %}
            <textarea id="input1" name="text" cols="50" rows="10"></textarea>
            <br />
            <input id="input2" type="submit" value="제출" /> 
        </form>        
    </div>

</body>
</html>